<!-- Container (About Section) -->
<div id="about" class="main_card">
  <div class="row">
        <div class="col-sm-3">
          <h3 class="no-margin m-b">Experience</h2>
        </div>
        <div class="col-sm-9">
          <p>I have over 5+ years of hands-on work experience in UI/UX design, rapid prototyping, and front-end development for rich Internet applications and mobile devices. I practice user centered design principles basing design decisions on user needs and business goals.</p>
        </div>
  </div>
</div>
<div class="main_card">
  <div class="row">
        <div class="col-sm-9 col-md-offset-3">
            <h2 class="no-margin">Capgemini <small>(Nov 2013 - Present)</small></h2>
            <h3 class="no-margin">CoxOne</h3>
            <h4 class="no-margin m-b">SharePoint UI Designer</h4>
            <p>Coxone is an O365 app which is a SharePoint online environment. I am working as a SharePoint Online UI
Designer, Created custom responsive MasterPages from Seattle and PageLayouts using bootstrap as per style
guide and Irise Mockups provided by client. PageLayouts created first for mobile devices and later for desktops
since we got different layout for desktop and Mobile devices using push/pull and flexbox. Good Knowledge in
                Configuring (CEWP/CSWP/SEWP) web part, worked in site settings and site contents.</p>
<p>Worked in site collection architecture, including use of content types and site columns. Design visual
mockups; produce graphic assets and prototypes for quick buy off of user interface concepts. Develop content
pages utilizing SharePoint features, HTML, CSS and JQuery. Build new Responsive master pages and page layouts
to meet requirements and constraints. Test and validate solutions while actively communicating issues and risks.
Configure workflows to automate business processes. Produce training materials and provide training to groups
and individuals.
            </p>
            <span>Environment: <strong>SharePoint Online 2013, Notepad++ &amp; Visual Studio 2015</strong></span>
        </div>
  </div>
</div>
<div class="main_card">
  <div class="row">
        <div class="col-sm-9 col-md-offset-3">            
            <h3 class="no-margin">Monsanto</h3>
            <h4 class="no-margin m-b">SharePoint UI Designer</h4>
            <p>Monsanto is a SharePoint internal Troom-x project mainly for internal employees. I have worked for
Creating custom Masterpage, PageLayouts and css based on style guide provided by client. PageLayouts created
first for mobile devices and later for desktops since we got different layout for desktop and Mobile devices.
Configuring web parts, worked in site settings and worked for web parts.
            </p>
            <span>Environment: <strong>SharePoint Designer 2007 &amp; 2010, Visual Studio 2010</strong></span>
        </div>
  </div>
</div>
<div class="main_card">
  <div class="row">
        <div class="col-sm-9 col-md-offset-3">            
            <h3 class="no-margin">AMINABOX</h3>
            <h4 class="no-margin m-b">SharePoint UI Designer</h4>
            <p>AMINABOX is a SharePoint internal project mainly for internal employees. Following tabs I worked in
SharePoint designer, Due Diligence, Transition, Service Management, App Management/Development and
CSI/Best Practices levels. Configuring custom master page, customizing layout, worked in OOB pages, provided
Browser Compatibility support for various browsers, customizing Dashboard layout, configuring web parts,
worked in site settings and worked for web parts.
            </p>
            <p>Provided Access to various users like visitors. Created SharePoint search functionality in Home page.
Added various customizations to the site and working for Web analytics to get the visitor users count and user
details which will helpful to improve site.
            </p>
            <span>Environment: <strong>SharePoint Designer 2007 &amp; 2010</strong></span>
        </div>
  </div>
</div>
<div class="main_card slideanim">
  <div class="row">
        <div class="col-sm-9 col-md-offset-3">            
            <h3 class="no-margin">AOSMO Command Center</h3>
            <h4 class="no-margin m-b">UI Designer</h4>
            <p>AO-SMO is an internal project managing Service Management Office for the accounts supported by
Capgemini. The Command Center application is currently designed to support standard types of AM contractual
                and operational performance reporting for the accounts supported by Capgemini.</p>
            <p>
It delivers data in a presentable and accessible manner as web pages. It utilizes internet technologies
and browser software to distribute rich, interactive reports and applications. The Command Center reporting
tools bring leading-edge internet technologies together, allowing users to quickly access information efficiently.</p>
<p>The Command Center application can be used by any Capgemini employee and it is recommended that
you use Internet Explorer 8 and above. The user can also access the application on Google Chrome, Firefox, cell
phones, iPods and tablets that support HTML5 and above. With the data extract the application can pick-up
data, organize data in the Dashboard, create reports Bar charts, Gauges, Tables, Analysis Grids with full
enhancements. I have worked in Development Team, Transition Team and Run/Delivery Team.
            </p>
            <p>Provided Access to various users like visitors. Created SharePoint search functionality in Home page.
Added various customizations to the site and working for Web analytics to get the visitor users count and user
details which will helpful to improve site.
            </p>
            <span>Environment: <strong>Logi Info Studio Tool using XML, HTML, CSS &amp; JQuery</strong></span>
        </div>
  </div>
</div>

<div class="main_card slideanim">
  <div class="row">
        <div class="col-sm-9 col-md-offset-3">
            <h2 class="no-margin">Infosys <small>(Apr 2012 – Nov 2013)</small></h2>
            <h3 class="no-margin">PricewaterhouseCoopers (PwC)</h3>
            <h4 class="no-margin m-b">SharePoint UI Designer</h4>
            <p>PwC is a SharePoint project which will mainly for internal employees where I worked. Following towers I
worked, UCM(Unemployment Claims Management), TCI(Tax Credits), EI(Economic Incentives), PoH(Point of Hire)
and AUP levels I worked in SharePoint designer and visual studio. Configuring custom master page, customizing
layout, worked in OOB pages, customizing Dashboard layout for individual projects in each towers, configuring
web parts, worked in site settings and worked for web parts.</p>
<p>And gave support to UAT and SAT while testing from offshore and onsite. And worked in dev and stage
environment.</p>
            <span>Environment: <strong>SharePoint Designer 2010 &amp; Visual Studio 2010</strong></span>
        </div>
  </div>
</div>

<div class="main_card slideanim">
  <div class="row">
        <div class="col-sm-9 col-md-offset-3">
            <h3 class="no-margin">CISCO</h3>
            <h4 class="no-margin m-b">UI Designer</h4>
            <p>My responsibilities to design prototype of customer data management layout and other pages including
main page. All designs have to support browser compatibilities and table less design. Gave support for stage and
dev environment for UI and functionality things.</p>
            <span>Environment: <strong>HTML, CSS, Jquery &amp; Visual Studio 2008.</strong></span>
        </div>
  </div>
</div>

<div class="main_card slideanim">
  <div class="row">
        <div class="col-sm-9 col-md-offset-3">
            <h3 class="no-margin">Adidas DMT</h3>
            <h4 class="no-margin m-b">UI Designer</h4>
            <p>MY responsibilities to design prototype from search page to next results found pages and RMA search pages. Our WebPages will give cross-browser compatibility for IE (8, 9 and 10), Firefox, Safari and other modern browsers. And gave support from client reviews and from technical team.</p>
            <span>Environment: <strong>HTML, CSS, Jquery &amp; Visual Studio 2010.</strong></span>
        </div>
  </div>
</div>

<div class="main_card slideanim">
  <div class="row">
        <div class="col-sm-9 col-md-offset-3">
            <h3 class="no-margin">Telstra</h3>
            <h4 class="no-margin m-b">UI Designer</h4>
            <p>Telstra is an Australian telecommunications and media company, building and operating telecommunications networks and
                marketing voice, mobile, internet access and pay television products and services.</p>
            <p>My Responsibilities for giving support to onsite and offshore environment while testing in ie7, 8 and 9. Firefox, chrome and Safari.</p>
            <span>Environment: <strong>HTML, CSS, Jquery &amp; Dream Weaver.</strong></span>
        </div>
  </div>
</div>

<div id="skills" class="main_card slideanim">
  <div class="row">
        <div class="col-sm-3">
          <h3 class="no-margin m-b">Skill Summary</h2>
        </div>
        <div class="col-sm-9">
          <div class="row">
                <div class="col-md-4" ng-repeat="skill in skills">
                    <h3 class="no-margin m-b">{{skill.name}}:</h3>
                    <ul>
                        <li ng-repeat="sprof in skill.list">{{sprof.prof}}</li>
                    </ul>
                </div>
          </div>
        </div>
  </div>
</div>

<div class="main_card slideanim">
  <div class="row">
        <div class="col-sm-3">
          <h3 class="no-margin m-b">Education</h2>
        </div>
        <div class="col-sm-9">
          <abbr><b>B.Tech - Computer Science &amp; Engineering</b><br>
              From 2005 – 2009<br>
              Sri Sai Institute Of Technology and Science,<br>
              Rayachoty, Kadapa,<br>
              Andhra Pradesh, India.</abbr>
        </div>
  </div>
</div>
