<!-- Container (About Section) -->
<div id="about" class="main_card">
  <div class="row">
        <div class="col-sm-3">
          <h3 class="no-margin m-b">Experience</h2>
        </div>
        <div class="col-sm-9">
          <p>I have over 6.10+ years of hands-on work experience in UI/UX design, rapid prototyping, and front-end development for rich Internet applications and mobile devices. I practice user centered design principles basing design decisions on user needs and business goals.</p>
        </div>
  </div>
</div>
<div class="main_card">
  <div class="row">
        <div class="col-sm-9 col-md-offset-3">
            <h2 class="no-margin">Capgemini <small>(Nov 2013 - Present)</small></h2>
            <h3 class="no-margin">ATLASAIR</h3>
            <h4 class="no-margin m-b">WEB DEVELOPER</h4>
            <ul>
              <li>Communicated directly with clients to establish project parameters, wrote proposals for design work, analyzed competitor web sites, determined web site content, produced site maps for client approval, and communicated progress with client throughout length of project.</li>
              <li>Translated client specific design UX wireframes and mockups into responsive, interactive features, using HTML5/CSS3 and JavaScript.</li>
              <li>Designs, develops and relaunches responsive websites and e-commerce sites of clients.</li>
              <li>Builds codes for Slider Carousals, Rotating Headers, Validation and JS animations.</li>
              <li>Maintained client websites on an ongoing basis.</li>
              <li>Trained end users on performing necessary updates.</li>
            </ul>
        </div>
  </div>
</div>
<div class="main_card">
    <div class="row">
          <div class="col-sm-9 col-md-offset-3">            
              <h3 class="no-margin">SOGETI – P&G</h3>
              <h4 class="no-margin m-b">FRONT END DEVELOPER</h4>
              <ul>
                  <li>Created and maintained the front-end standards document and oversaw production of JavaScript, HTML, and CSS.</li>
                  <li>Sketched wireframes, prototyped concepts, created UI designs, front end development and testing.</li>
                  <li>Provided support for clients' websites throughout project lifecycle.</li>
                  <li>Programmed HTML5 canvases to animate particles on web backgrounds for site-wide promotions.</li>
                  <li>Optimized page performance using lazyload for all the images including bxSlider plugin.</li>
                  <li>Develop front-end code in a timely and high-quality manner while ensuring a consistent look and feel.</li>
                  <li>Design, build, test, and maintain scalable and stable web solutions that meet business needs</li>
                </ul>
          </div>
    </div>
  </div>
<div class="main_card">
  <div class="row">
        <div class="col-sm-9 col-md-offset-3">
            <h3 class="no-margin">CoxOne</h3>
            <h4 class="no-margin m-b">FRONT END DEVELOPER</h4>
            <ul>
              <li>UI/UX wireframes executed in SKETCH before transitioning into Photoshop and front-end development and testing</li>
              <li>Front-end development using latest HTML5 and CSS3 techniques, backed by jQuery and other JavaScript frameworks to enable optimum user experience throughout the site - including cross-browser support and unit testing to ensure quality work</li>
              <li>Provided support for clients' websites throughout project lifecycle.</li>
            </ul>
        </div>
  </div>
</div>
<div class="main_card slideanim">
  <div class="row">
        <div class="col-sm-9 col-md-offset-3">
            <h2 class="no-margin">Infosys <small>(Apr 2012 – Nov 2013)</small></h2>
            <p>Develop UI design specs that allows and facilitate project and functional requirements across a multi-disciplinary team through all phases of the project. Design and conduct usability studies, translate user findings into affinity diagrams, event sequence diagrams and use cases. Generate UI mockups from wire-frame designs to high-fidelity prototypes that convey the interaction model. Designed intuitive and user-friendly interface and prototypes using HTML 5, CSS3, JavaScript, AJAX, PHOTOSHOP and JQuery.</p>
        </div>
  </div>
</div>
<div class="main_card slideanim">
  <div class="row">
        <div class="col-sm-9 col-md-offset-3">
            <h3 class="no-margin">PricewaterhouseCoopers (PwC)</h3>
            <h4 class="no-margin m-b">UI DEVELOPER</h4>
            <ul>
              <li>Converted and upgraded existing web applications using Twitter Bootstrap.</li>
              <li>Presented web-site mock-ups to clients to give them better visual of the product and to ensure that all parameters were met.</li>
              <li>Resolved design issues through root cause analysis and performed data cleanups.</li>
              <li>Provided support for clients' websites throughout project lifecycle.</li>
              <li>Responsible for content management development and maintenance of company websites.</li>
            </ul>
        </div>
  </div>
</div>
<div class="main_card slideanim">
    <div class="row">
          <div class="col-sm-9 col-md-offset-3">
              <h2 class="no-margin">BSINFOSOFT <small>(Jan 2010 – Mar 2012)</small></h2>
              <p>Worked in a fast paced, creative and challenging environment and developing state of the art banners, landing pages and web sites that get tens of millions of impressions daily.</p>
          </div>
    </div>
  </div>
<div class="main_card slideanim">
  <div class="row">
        <div class="col-sm-9 col-md-offset-3">
            <h3 class="no-margin">MONSANTO</h3>
            <h4 class="no-margin m-b">UI DEVELOPER</h4>
            <ul>
              <li>Worked closely with project managers</li>
              <li>Turned PSD's into HTML and CSS templates</li>
              <li>Implemented web pages and banners from design mockups using HTML and CSS.</li>
              <li>Develops and maintains custom CSS frameworks.</li>
              <li>Converts PSDs into hand-coded HTML/CSS.</li>
              <li>Developed front end responsive websites with media queries.</li>
              <li>Development of mobile-ready websites.</li>
              <li>Design and lay out the foundation for awesome, user-friendly, and responsive interfaces.</li>
              <li>Develop prototypes / Proof of Concepts on frameworks to support and showcase the recommendations.</li>              
            </ul>
        </div>
  </div>
</div>

<div id="skills" class="main_card slideanim">
  <div class="row">
        <div class="col-sm-3">
          <h3 class="no-margin m-b">Skill Summary</h2>
        </div>
        <div class="col-sm-9">
          <div class="row">
                <div class="col-md-4" ng-repeat="skill in skills">
                    <h3 class="no-margin m-b">{{skill.name}}:</h3>
                    <ul>
                        <li ng-repeat="sprof in skill.list">{{sprof.prof}}</li>
                    </ul>
                </div>
          </div>
        </div>
  </div>
</div>

<div class="main_card slideanim">
  <div class="row">
        <div class="col-sm-3">
          <h3 class="no-margin m-b">Education</h2>
        </div>
        <div class="col-sm-9">
          <abbr><b>B.Tech - Computer Science &amp; Engineering</b><br>
              From 2005 – 2009<br>
              Sri Sai Institute Of Technology and Science,<br>
              Rayachoty, Kadapa,<br>
              Andhra Pradesh, India.</abbr>
        </div>
  </div>
</div>

<div class="main_card slideanim">
  <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="m-b">LET'S WORK TOGETHER</h3>
          <p class="m-b">Got an interesting project and would like to work on it with me?</p>
          <a class="btn btn-success" href="#contact">Get in Touch</a>
        </div>
  </div>
</div>
