<!-- Container (Contact Section) -->
<div id="contact" class="main_card">
  <h2 class="text-center no-margin m-b">Send me a message</h2>
  <div class="row">    
    <div class="col-sm-8 col-sm-offset-2">
        <form>            
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-at fa-2" aria-hidden="true"></i></div>
                <input class="form-control input-lg" type="email" id="email" value="sreedevagudi@gmail.com" disabled required>
              </div>
            </div>
<!--
            <div class="form-group">
                <textarea class="form-control input-lg" id="comments" name="comments" placeholder="Message" rows="5"></textarea>
            </div>
-->
<!--            <button class="btn btn-success">Send Message  <i class="fa fa-envelope" aria-hidden="true"></i></button>            -->
            <div class="form-group">
                <span><i class="fa fa-share" aria-hidden="true"></i> Email me @ <a href="mailto:sreedevagudi@gmail.com"><b>sreedevagudi@gmail.com</b></a></span><br>
                <span><i class="fa fa-phone" aria-hidden="true"></i> Call me @ <a><b>(+91) 9591160066</b></a></span>
            </div>
        </form>
    </div>
  </div>
</div>