<!-- Container (Portfolio Section) -->
<div id="portfolio">
    <div class="main_card text-center">
        <h2 class="no-margin m-b">Portfolio</h2>
        <div class="row">
            <div class="col-md-12">
                <p>I'm a self-taught Front-End Developer based in Bangalore - India, firmly believing that design is first and foremost about solving problems. This is why I dedicated my career to working closely with great companies, making sure we deliver delight to their customers at every step of interaction with their product.</p>
                <p>I work closely with my team, my customers and my stakeholders to make sure that we deliver exactly what they need, while keeping an eye on your business goals &amp; objectives.</p>
                <p>If this sounds exciting, <a href="#contact">get in touch</a>.</p>
            </div>
        </div>
    </div>
    
    <div class="main_card text-center thumbs">
      <h4 class="no-margin m-b">Works / What I did</h4>
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail">
              <div class="thumb">
                  <img class="img-responsive" src="assets/img/portfolio/Client1.png" alt="Client1" />
              </div>            
              <div class="caption">
                <p><strong>Video_Library</strong></p>
                <p>Video_Library is a web application mainly used for analysis of user feedback. It allows capturing the user experience in shopping.  Allow to upload the video of user along with category in which user like to do shopping and based on that we can do further analysis. We used Angular JS in front end and web API and entity framework in service. Also created user friendly UI using bootstrap, HTML5, CSS3 and Angular materialJS.</p>
              </div>          
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
              <div class="thumb">
                  <img class="img-responsive" src="assets/img/portfolio/Client2.png" alt="Client1" />
              </div>        
              <div class="caption">
                  <p><strong>HTML5 App</strong></p>
                  <p>Using Angular JS in front end and web API and entity framework in service. Also created user friendly UI using bootstrap, HTML5, CSS3 and Angular materialJS.</p>
              </div>          
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
              <div class="thumb">
                  <img src="assets/img/sanfran.jpg" alt="San Francisco" />
              </div>
              <div class="caption">
                <p><strong>San Francisco</strong></p>
                <p>Yes, San Fran is ours</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--<div class="main_card text-center">
      <h2>What our customers say</h2>
      <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <h4>"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
          </div>
          <div class="item">
            <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
          </div>
          <div class="item">
            <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>-->
</div>
